# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Uploaded datasets
uploads/*
!uploads/.gitkeep

# Generated reports
reports/*
!reports/.gitkeep

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Environment files
.env

# Jupyter
.ipynb_checkpoints/